

.NavContainer{
  background-image: linear-gradient(to bottom, #8f0943, #ad9656, #adcd9c, #c6fced) ; 
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 2rem;
  .left-side {
  display: flex;
  
  
  
  }  
  .nav-link-wrapper{
    margin-right: 20px;
    padding-top: 150px;
    a {
      margin-left: 40px;
      
      cursor: pointer;
      text-decoration: none;
      color: #4E8074;
      transition: 0.5s ease-in-out;

      &:hover {
        letter-spacing: 2px;
        color: white;
        

      }
    }
  }
  img{
    height: 200px;
    width: 200px;
    border-radius: 140px;
  }


  
}






